<div class="container justify-content-center align-items-center text-center
    mt-1 mb-4 rounded">
    <h2>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident,
        minus!
    </h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-lg-4 col-md-3">
            <div class="container">
                <h1>
                    Cute & unique & Cool NFT's
                </h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Unde impedit atque quo repudiandae, non quos. Cum nisi
                    adipisci quas repellendus excepturi, eum molestiae dolor ex
                    odit facere ipsam saepe, tempore corporis illum eos
                    asperiores ducimus . Itaque
                    recusandae nam porro magni.
                </p>
                <button class="btn btn-outline-warning">Get now</button>
            </div>
        </div>

        <div class="col-sm-9 col-lg-8 col-md-9">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 mb-2">

                        <img src="../../assets/home/nft-get-started.jpeg"
                            class="img-fluid image">
                    </div>
                    <div class="col-sm-4 mb-2">

                        <img src="../../assets/home/nft-get-started-1.png"
                            class="img-fluid image">
                    </div>
                    <div class="col-sm-4 mb-2">

                        <img src="../../assets/home/nft-get-started-2.png"
                            class="img-fluid image">
                    </div>
                    <div class="col-sm-4 mb-2">

                        <img src="../../assets/home/nft-get-started-3.png"
                            class="img-fluid image">
                    </div>

                    <div class="col-sm-4 mb-2">

                        <img src="../../assets/home/nft-get-started-4.png"
                            class="img-fluid image">
                    </div>

                    <div class="col-sm-4 mb-2">

                        <img src="../../assets/home/nft-get-started-5.png"
                            class="img-fluid image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>