<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <fa-icon [icon]="faCube" class="block-icon navbar-brand p-2"></fa-icon>
        <h3 class="head1">Deep Chain</h3>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse p-1"
            id="navbarSupportedContent">
            <div class="container"></div>
            <ul class="navbar-nav navbar-right me-auto center-list">
                <li class="nav-item">
                    <a class="nav-link nav-hover" aria-current="page" href="#">Protocol</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-hover" href="#">Governance</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link nav-hover" href="#">Prices</a>
                    <!-- <a class="nav-link nav-hover dropdown-toggle" href="#"
                        id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else
                                here</a></li>
                    </ul> -->
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-hover" href="#">NFTs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-hover" href="#">Docs</a>
                </li>
            </ul>
            <div class="container"></div>
        </div>
    </div>
</nav>