<div class="justify-content-between d-flex align-items-center p-3">
    <div class="btn btn-outline-warning">&lt;</div>
    <div class="container justify-content-center align-items-center">
        <div class="row">
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="card object-card">
                    <img class="card-img-top card-image"
                        src="../assets/showcase/showcase-1.jpeg"
                        alt="">
                    <div class="card-body">
                        <h4 class="card-title">Showcase-1</h4>
                        <p class="card-text">NFT by Rio</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="card object-card">
                    <img class="card-img-top card-image"
                        src="../assets/showcase/showcase-2.jpg"
                        alt="">
                    <div class="card-body">
                        <h4 class="card-title">Showcase-2</h4>
                        <p class="card-text">NFT by Rock</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="card object-card">
                    <img class="card-img-top card-image"
                        src="../assets/showcase/showcase-3.webp"
                        alt="">
                    <div class="card-body">
                        <h4 class="card-title">Showcase-3</h4>
                        <p class="card-text">NFT by Leo</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn btn-outline-warning">&gt;</div>
</div>