
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-md-6 col-lg-8">
            <div class="container get-started">
                <div class="container">
                    <h1 class="head1">
                        The Crypto <br> <a>Decentralized</a> <br> NFTs Market
                    </h1>
                </div>
                <div class="container">
                    <h1 class="head2 p-1">
                        collect and sell super rare NFTs
                    </h1>
                    <h4 class="head3 p-1">
                        A market for people to buy and sell unique
                        single-edition
                        digital art networks from over 2000 artist
                    </h4>
                    <button class="btn btn-warning head2 p-1">
                        <div class="p-1">
                            Explore the Marketplace
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-3
            col-md-4 col-lg-3 mx-auto my-auto form">

            <div class="container nft-card mx-auto">
                <img src="../../assets/home/nft-get-started.jpeg"
                    class="mx-auto d-block img-fluid nft-img-card image">

                <div class="container d-flex justify-content-between p-2
                    align-items-center">
                    <img src="../../assets/home/nft-get-started.jpeg"
                        class="rounded-circle bg-warning profile-img"
                        style="height:3rem;width:3rem;">
                    <div class="align-self-center head3">
                        <span>leonardo di</span><br>
                        <span>12 ETH</span>
                    </div>
                    <button type="button" class="btn btn-outline-warning">View
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>